@import "./Front.scss";
@import "../colors.scss";
@import "../fonts.scss";

.front__info__info {
  align-self: center;
  border-bottom: 1px solid #c6a7a7;
}

.front__info__button {
  font-family: 'huninn';
  color: $text-main;
  align-self: center;
  background: transparent;
  width: 10rem;
  height: 3rem;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 3rem;
}
