/* Wondering how to ignore the initial animation. */

.front__contact {
  position: relative;
  display: flex;
  height: 35rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.front__contact__container {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.front__contact__key,
.front__contact__lock {
  height: 100%;
}

.front__contact__key {
  margin-right: 2.5rem;
  z-index: 1;
}