@import "../ShadowCard.scss";


.front__services__cards {
  align-self: center;
  width: 60rem;
  max-width: 98%;
  display: flex;
  gap: 2rem;
}

.front__services__cards__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.front__services__cards__card__image {
  align-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  // background-color: bisque;
}

.front__services__cards__card__title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
  text-align: center;
  color: #803f3f;
  align-self: center;
  padding: 1.875rem 0 1.875rem;
}

.front__services__cards__card__text {
  font-family: "huninn";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(128, 63, 63, 0.9);
}

@import "./FrontMQ/FrontServicesMQ.scss";