@import "../colors.scss";
@import "../fonts.scss";
@import "./Front.scss";
@import "../ShadowCard.scss";
@import "./frontMQ.scss";

.front__show {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.front__show__main-title {
  font-size: 3rem;
  line-height: 3rem;

  align-self: center;
  font-style: normal;
  color: #803f3f;
  font-weight: 400;
  margin-bottom: 1rem;
}

.front__show__sub-title {
  font-size: 1.5rem;
  line-height: 1.5rem;

  font-weight: 300;
  align-self: center;
  font-style: normal;
  color: #803f3f;
  margin-bottom: 3rem;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.front__show__image {
  width: 90rem;
  max-width: 95%;
  align-self: center;
  box-shadow: 31px 31px 15px 2px rgba(99, 99, 99, 0.23);
}
