@import "../fonts.scss";

.front__box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.front__box__main-title {
  align-self: center;
  font-style: normal;
  text-align: center;
  color: #803f3f;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.2em;
}

.front__box__sub-title {
  font-weight: 400;
  align-self: center;
  font-style: normal;
  text-align: center;
  color: #803f3f;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #803f3f;
}

@import "./FrontMQ/FrontMQ.scss";