
.front__box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.front__box__main-title {
  align-self: center;
  font-family: "Overpass";
  font-style: normal;
  color: #803f3f;
  margin-bottom: 0.5rem;
}

.front__box__sub-title {
  align-self: center;
  font-style: normal;
  color: #803f3f;
  margin-bottom: 3rem;
}

