@import "../colors.scss";

.information {
  width: 50rem;
  max-width: 95%;
  height: 5rem;
  border-top: 1px solid #c6a7a7;
  // border-bottom: 0.5px solid #803f3f;
  display: flex;
  align-items: center;
  color: $text-main;
}

.information:last-child {
  border-bottom: 1px solid #c6a7a7;
}

.information__date {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(128, 63, 63, 0.6);
}

.information__title {
  font-family: 'huninn';
}

@import "./InformationMQ.scss";