.about-experiences__cardbox {
  display: flex;
  flex-direction: column;
  gap: 2.875rem;
  width: 70rem;
  max-width: 96%;
}

.about-experiences-card {
  display: flex;
}

.about-experiences-card__image-box {
  width: 16.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-experiences-card__image {
  width: 6.25rem;
  height: 6.25rem;
}

.about-experiences-card__content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.about-experiences-card__content__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #803f3f;
}

.about-experiences-card__content__text {
  max-width: 50rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "hunnin";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(128, 63, 63, 0.8);
  padding-right: 4.25rem;
}

@import "src/css/About/AboutMQ/AboutExperiencesMQ.scss";