.about-me {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-me__container {
  width: 61rem;
  height: 31.25rem;
  display: flex;
}

.about-me__container__name {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #803f3f;
  gap: 3rem;
}

.about-me__container__image {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-shrink: 1;
}
