/* Keep the ratio, use @media to modify sizes. */

.workswebslider {
  width: 61.125rem;
  max-width: 95%;
  height: 45rem;
  background: #ffffff;
  border: 3px solid #FFEAED;
  box-shadow: 5px 5px 5px 3px rgba(139, 139, 139, 0.28);
  border-radius: 10px;
  
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 5%;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after {    
    color: #B7B7B7;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .swiper-button-next::before, .swiper-button-prev::before {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 175%;
    content: "";
    border-radius: 50%;
    border: 2px solid #B7B7B7;
  }

  .swiper-button-prev {
    left: 5%;
  }

  .swiper-button-next {
    left: 10%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workswebslider__slide__title {
    font-size: 2rem;
    position: absolute;
    top: 2%;
    color: #F194A1;
  }

  .workswebslider__slide__image {
    padding-top: 5%;
    max-width: 90%;
    max-height: 90%;
  }
}

.workswebslider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 100%;
  background: #FFEAED;
}