@import "./../fonts.scss";
@import "../font-text.scss";

.workstransslider {
  width: 100%;
  display: flex;
  align-items: center;
}

.workstransslider__slider {
  background-color: #f2e1c7;
  width: 60rem;
  max-width: 95%;
  height: auto;
  
}

.workstransslider__slider__slide {
  padding: 5rem 10rem 0 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.workstransslider__slider__slide__title {
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: black;
}

.workstransslider__slider__slide__content--column {
  display: flex;
  flex-direction: column;
  gap: 5.75rem;
}

.workstransslider__slider__slide__content--row {
  display: flex;
  gap: 5.75rem;
}

.workstransslider__slider__slide__content__text-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.workstransslider__slider__slide__content__subtitle { 
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  font-style: normal;
  color: #000000;
}

.workstransslider__slider__slide__content__article {
  min-height: 10.3125rem;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #000000;
}

.workstransslider__slider__slide__content__article--row {
  width: 21.875rem;
}

.workstransslider__slider__slide__read-more {
  width: 10rem;
  height: 3rem;
  position: relative;
  border: 1px solid #A58759;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494949;
  font-family: 'Noto serif TC';
}

.workstransslider__slider__slide__read-more:hover {
  background-color: #F9E0BB;
}

.swiper-pagination-bullet-active {
  background-color: #A58759;
}

.swiper-pagination {
  position: relative;
  margin-top: 1.5rem;
}

@import "./WorksTransSliderMQ.scss";