@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}

@media only screen and (max-width: 959px) {
  .workstransslider__slider__slide__content--row {
    flex-direction: column !important;
  }
  .workstransslider__slider__slide {
    padding: 5% 5% 0 5% !important;
    gap: 5rem !important;
  }

  .workstransslider__slider__slide__content__article--row {
    height: 12rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1439px) {
  /* styles for browsers larger than 960px; */

}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

}
