/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .front__services__cards {
    flex-direction: column;
    max-width: 80%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* FrontServices.scss */
  .front__services__cards {
    align-self: center;
    width: 60vw;
    gap: 3vw;
  }
  .front__services__cards__card__title {
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .front__services__cards__card__text {
    font-size: 0.875vw;
    line-height: 1.5vw;
  }
}
