.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'huninn';
}

.contact-form__box {
  width: 49.0625rem;
  max-width: 98%;
  padding: 4.6875rem 6.25rem 0 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form__box__content {
  width: 100%;
  margin-bottom: 1.5rem;
}

.contact-form__box__content--two {
  display: flex;
  justify-content: space-evenly;
  gap: 2.25rem;
}

.contact-form__box__content__name {
  width: 100%;
}

.contact-form__box__content__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #803f3f;
  margin-bottom: 7px;
}

.contact-form__box__content__input {
  width: 100%;
  height: 2.8125rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 63, 63, 0.36);
  padding-left: 1rem;
}

.contact-form__box__content__input:focus {
  outline: none !important;
  border: 1px solid rgba(128, 63, 63, 0.8);
  
}

.contact-form__box__content__textarea {
  width: 100%;
  height: 10.625rem;
  border: 1px solid rgba(128, 63, 63, 0.36);
  border-radius: 5px;
}

.contact-form__box__content__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(128, 63, 63, 0.25);
}

.contact-form__box__submit {
  margin-top: 2.875rem;
  width: 6.875rem;
  height: 2.5rem;
  border-radius: 3.6875rem;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  border: 1px solid rgba(128, 63, 63, 0.36);
}

.contact-form__box__submit:hover {
  background-color: rgba(128, 63, 63, 0.1);
  cursor: pointer;
}