.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact__box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@import "src/css/Contact/ContactMQ.scss";