/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-info {
    align-items: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contact-info {
    align-items: center;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contact-info {
    gap: 2vw;
  }
  
  .contact-info__item {
    font-size: 1.25vw;
    gap: 1vw;
  }
  
}
