/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-experiences__cardbox {
    gap: 2.875vw;
  }
  .about-experiences-card__content__title {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
  .about-experiences-card__content__text {
    font-size: 1vw;
    line-height: 1.5vw;
    padding-right: 4.25vw;
  }
  .about-experiences-card__image-box {
    width: 16.75vw;
  }
  .about-experiences-card__image {
    width: 6.25vw;
    height: 6.25vw;
  }
}
