/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-me__container {
    flex-direction: column;
    gap: 2rem;
  }
  .about-me__container__name {
    flex-direction: column;
    width: 100%;
  }
  .about-me__container__image {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about-me__container {
    flex-direction: column;
    gap: 2rem;
  }
  .about-me__container__name {
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-me__container {
    flex-direction: row;
    width: 61vw;
  }
}
