/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .workstransslider__slider__slide__content--row {
    flex-direction: column;
  }
  .workstransslider__slider__slide__content__article--row,
  .workstransslider__slider__slide__content__article {
    height: 10rem;
    overflow: hidden;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .workstransslider__slider {
    width: 58vw;
  }

  .workstransslider__slider__slide__title {
    font-size: 1.5vw;
  }

  .workstransslider__slider__slide__content__subtitle,
  .workstransslider__slider__slide__content__article,
  .workstransslider__slider__slide__read-more {
    font-size: 1vw;
  }
}
