/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Keep the ratio, use @media to modify sizes. */

  .workswebslider {
    width: 61.125vw;
    height: 45vw;

    .swiper-button-next {
      margin-left: 1.5vw;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 1.5vw;
    }

    .swiper-button-next::before,
    .swiper-button-prev::before {
      height: 3vw;
      width: 3vw;
    }
    .workswebslider__slide__title {
      font-size: 2vw;
    }
  }
}
