/* fonts */

.serif-tc {
  font-family: 'Noto Serif TC';
}

.huninn {
  font-family: 'huninn';
}

.huninn-overpass {
  font-family: 'huninn', 'overpass';
}

.serif-jp {
  font-family: 'Noto Serif JP'
}

/* text */

.text-center {
  text-align: center;
}
