@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif+JP&family=Noto+Serif+TC&family=Overpass:wght@400;700&display=swap');

@font-face {
  font-family: "GenSenRounded TW";
  font-weight: 300;
  src: local("GenSenRounded TW"), url("../fonts/GenSenRoundedTW-L-01.ttf");
}

@font-face {
  font-family: "GenSenRounded TW";
  font-weight: 400;
  src: local("GenSenRounded TW"), url("../fonts/GenSenRoundedTW-R-01.ttf");
}

@font-face {
  font-family: "GenSenRounded TW";
  font-weight: 700;
  src: local("GenSenRounded TW"), url("../fonts/GenSenRoundedTW-B-01.ttf");
}

@font-face {
  font-family: "GenSenRounded JP";
  font-weight: 300;
  src: local("GenSenRounded JP"), url("../fonts/GenSenRoundedJP-L-02.ttf");
}

@font-face {
  font-family: "GenSenRounded JP";
  font-weight: 400;
  src: local("GenSenRounded JP"), url("../fonts/GenSenRoundedJP-R-02.ttf");
}

@font-face {
  font-family: "GenSenRounded JP";
  font-weight: 700;
  src: local("GenSenRounded JP"), url("../fonts/GenSenRoundedJP-B-02.ttf");
}

@font-face {
  font-family: "huninn";
  font-weight: 400;
  src: url("../fonts/jf-openhuninn-1.1.ttf");
}