@import "./colors.scss";
@import "./fonts.scss";

.footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  height: 26.625rem;
  display: flex;
  background-color: $theme-main;
  display: flex;
  padding: 0 10% 0 10%;
}

.footer__icon {
  align-self: center;
  font-family: 'Caveat', cursive;
  color: rgba(128, 63, 63, 0.4);
  font-size: 2.5rem;
}

.footer__pages {
  position: relative;
  top: calc(50% - 0.4375rem);
  color: $footer-main;
  font-size: 0.875rem;
  list-style: none;
  display: flex;
  font-family: "GenSenRounded TW", "Microsoft JhengHei", "微軟正黑體";
  gap: 3.75rem;
  padding: 0;
  margin-left: auto;
  height: fit-content;
}

.footer__pages__items__sublist {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
  list-style: none;
  margin-top: 1.25rem;
  font-size: 0.75rem;
  color: $footer-sub;
}


