@import "./colors.scss";
@import "./fonts.scss";

.navbar {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: 16rem;
  position: absolute;
  top: 0;
  display: none;
  color: $text-main;
}

.navbar__icon {
  font-size: 2.5rem;
  align-self: center;
  font-family: 'Caveat', cursive;
  user-select: none;
  cursor: pointer;
}


.navbar__pages, .navbar__languages {
  align-items: center;
  font-size: 1rem;
  list-style: none;
  display: flex;
}

.navbar__pages {
  gap: 3.75rem;
  font-family: 'huninn';
  padding: 0;
  margin-left: auto;
}

.navbar__languages {
  font-family: 'Overpass', 'Arial';
  font-weight: bold;
  justify-content: flex-end;
  margin-left: 5rem;

  gap:0.5rem;
  padding: 0;
}

.navbar__languages__items {
  cursor: pointer;
  // user-select: none;
}

.navbar__languages__items--split {
  user-select: none;
}

.navbar__pages__items__move {
  text-decoration: none;
  color: inherit;
}

.navmenu {
  // position: absolute;
  // width: 100%;
  // height: 4rem;
  // align-items: center;
  // justify-content: flex-end;
  // padding-right: 5%;
  // // display: flex;
  // display: none;
}

.navmenu__button {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 2rem;
  color: $text-main;
  z-index: 999;
}


.navbar__icon--navmenu {
  position: fixed;
  font-size: 2rem;
  color: $text-main;
  z-index: 999;
  top: 1%;
  left: 5%;
}

.navmenu__list {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  background-color: darkgray;
  z-index: 999;
}

.navmenu__list--on {
  display: block;
}

.navmenu__list__button {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2rem;
}

.navmenu__list__list {
  position: absolute;
  left: 10%;
  top: 5%;
  list-style: none;
  padding: 0;
  color: whitesmoke;
  font-size: 2rem;
}

@import "./NavbarMQ.scss";