.spacer {
  width: 100vw;
}

.spacer__background--left {
  position: absolute;
  height: 18vw;
  top: calc(50% - 9vw);
  width: auto;
  margin-left: -10%;
  opacity: 0.3;
}

.spacer__background--right {
  position: absolute;
  right: 0;
  height: 18vw;
  top: calc(50% - 9vw);
  margin-right: -10%;
  opacity: 0.3;
  transform: rotate(180deg);
} 

.spacer--3h {
  width: 100vw;
  height: 3rem;
}

.spacer--16h {
  z-index: -1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 16rem;
}

.spacer--8h {
  z-index: -1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 8rem;
} 

@import "./spacerMQ.scss";