.services-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-cards__cardbox {
  width: 69.5625rem;
  max-width: 98%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}