
.services-card {
  display: flex;
  width: 58.175rem;
  max-width: 95%;
  height: auto;
  padding: 6.1875rem 3.475rem 6.1875rem 3.475rem;
  gap: 4rem;
}

.services-card__text-area {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.services-card__text-area__title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
  color: #803f3f;
}

.services-card__text-area__text {
  font-family: "huninn";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(128, 63, 63, 0.8);
}

.services-card__image-box {
  width: 12.5rem;
  flex-shrink: 0;
}

.services-card__image-box__image {
  width: 100%;
}

@import "src/css/Services/ServicesMQ/ServicesCardMQ.scss";